<div id="<%= dom_id plant %>">
  <p>
    <strong>Name:</strong>
    <%= plant.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= plant.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= plant.price %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= plant.stock %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= plant.category.name %>
  </p>

</div>
